<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

      <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="static/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">

 
  <!-- Bootstrap Materialstatic/node_modules/bootstrap-material-design Design -->
  <link rel="stylesheet" type="text/css" href="static/node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.css">
  <link rel="stylesheet" type="text/css" href="static/node_modules/bootstrap-material-design/dist/css/ripples.min.css">


    <!-- <link rel="stylesheet" href="static/css/index.css"> -->

    <script src="static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/node_modules/bootstrap-material-design/dist/js/material.js"></script>
    <script src="static/node_modules/bootstrap-material-design/dist/js/ripples.js"></script>
    <title>RailScanner</title>
</head>



<body>
    <nav class="navbar">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a class="navbar-brand" href="#">
                    <span>
                        <img style="display: inline-block; height: 40px; margin-top: -10px"
                             src="static/media/sncf.png">
                    </span>
                </a>
                </div>

                <div class="col-md-4">
                    <h1>RailScanner</h1>
                </div>

                <div class="col-md-4">
                    <span>
                        <img style="display: inline-block; height: 40px; margin-top: 5px"
                             src="static/media/vuejs.png">
                    </span>
                </div>
            </div>
        </div>
    </nav>


    <div class="container">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#pane-zero" aria-controls="zero" role="tab" data-toggle="tab">Zero</a>
            </li>
            <li role="presentation">
                <a href="#pane-one" aria-controls="one" role="tab" data-toggle="tab">One</a>
            </li>
            <li role="presentation">
                <a href="#pane-two" aria-controls="two" role="tab" data-toggle="tab">Two</a>
            </li>
            <li role="presentation">
                <a href="#pane-three" aria-controls="three" role="tab" data-toggle="tab">Three</a>
            </li>
            <li role="presentation">
                <a href="#pane-four" aria-controls="three" role="tab" data-toggle="tab">Four</a>
            </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="margin-top: 10px">
            <div role="tabpanel" class="tab-pane fade in active" id="pane-zero">
                <div class="col-md-6">
                    <div id="app-zero">
                        <span v-bind:ts="ts">
                        Side server timestamp: {% raw %}{{ ts }}{% endraw %}
                  </span>

                    </div>
                </div>
                <div class="col-md-6"></div>

            </div>
            <div role="tabpanel" class="tab-pane" id="pane-one">
                <div id="app-one">
                    <div>
                        <one-list v-for="item in one_list" v-bind:item="item"></one-list>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="pane-two">
                <div id="app-two">
                    <ol>
                        <li v-for="item in two_list">
                            {% raw %}{{ item }}{% endraw %}
                        </li>
                    </ol>

                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="pane-three">
                <!-- demo root element -->
                <div id="demo">
                    <form id="search">
                        Search <input name="query" v-model="searchQuery">
                    </form>
                    <demo-grid :data="gridData" :columns="gridColumns" :filter-key="searchQuery">
                    </demo-grid>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="pane-four">
                <div id="app-four">
                    <p> {% raw %}{{ message }}{% endraw %}  </p>
                    <input v-model="message" type="email" class="form-control" id="i5p">
                    <button v-on:click="reverseMessage">Reverse Message</button>

                    <table class="table table-striped table-hover ">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Column heading</th>
                          <th>Column heading</th>
                          <th>Column heading</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>1</td>
                          <td>Column content</td>
                          <td>Column content</td>
                          <td>Column content</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Column content</td>
                          <td>Column content</td>
                          <td>Column content</td>
                        </tr>
                        <tr class="info">
                          <td>3</td>
                          <td>Column content</td>
                          <td>Column content</td>
                          <td>Column content</td>
                        </tr>
                        <tr class="success">
                          <td>4</td>
                          <td>Column content</td>
                          <td>Column content</td>
                          <td>Column content</td>
                        </tr>
                        <tr class="danger">
                          <td>5</td>
                          <td>Column content</td>
                          <td>Column content</td>
                          <td>Column content</td>
                        </tr>
                        <tr class="warning">
                          <td>6</td>
                          <td>Column content</td>
                          <td>Column content</td>
                          <td>Column content</td>
                        </tr>
                        <tr class="active">
                          <td>7</td>
                          <td>Column content</td>
                          <td>Column content</td>
                          <td>Column content</td>
                        </tr>
                        </tbody>
                      </table>
                      
                      

                    <div class="form-group label-static">
                        <label for="i2" class="control-label">label-static</label>
                        <input type="email" class="form-control" id="i2" placeholder="placeholder attribute">
                        <p class="help-block">This is a hint as a <code>p.help-block.hint</code></p>
                      </div>
                     
                      <div class="form-group label-floating">
                        <label for="i5" class="control-label">label-floating</label>
                        <input type="email" class="form-control" id="i5">
                        <span class="help-block">This is a hint as a <code>span.help-block.hint</code></span>
                      </div>
                     
                      <div class="form-group label-placeholder">
                        <label for="i5p" class="control-label">label-placeholder</label>
                        <input type="email" class="form-control" id="i5p">
                        <span class="help-block">This is a hint as a <code>span.help-block.hint</code></span>
                      </div>
                </div>
            </div>

        </div>
    </div>
</body>

<template id="template-one">
    <div class="row" style="margin-bottom: 2px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% raw %}
            <p style="margin-bottom: 2px">{{ item }}</p>
            {% endraw %}
        </div>
    </div>
</template>

<!-- component template -->
<template id="grid-template">
    <table>
        <thead>
            <tr>
                <th v-for="key in columns" @click="sortBy(key)" :class="{ active: sortKey == key }">
                    {% raw %} {{ key | capitalize }} {% endraw %}
                    <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="entry in filteredData">
                <td v-for="key in columns">
                    {% raw %} {{entry[key]}} {% endraw %}
                </td>
            </tr>
        </tbody>
    </table>
</template>







<script src="static/node_modules/vue/dist/vue.link.js"></script>
<script src="static/node_modules/vue-resource/dist/vue-resource.min.js"></script>
<script src="static/js/app.js"></script>

</html>