<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="static/node_modules/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="static/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">


    <!-- Bootstrap Materialstatic/node_modules/bootstrap-material-design Design -->
    <link rel="stylesheet" type="text/css" href="static/node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.css">
    <link rel="stylesheet" type="text/css" href="static/node_modules/bootstrap-material-design/dist/css/ripples.min.css">


    <!-- <link rel="stylesheet" href="static/css/index.css"> -->

    <script src="static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/node_modules/bootstrap-material-design/dist/js/material.js"></script>
    <script src="static/node_modules/bootstrap-material-design/dist/js/ripples.js"></script>
    <title>RailScanner</title>
</head>



<body>
    <nav class="navbar">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a class="navbar-brand" href="#">
                    <span>
                        <img style="display: inline-block; height: 40px; margin-top: -10px"
                             src="static/media/sncf.png">
                    </span>
                </a>
                </div>

                <div class="col-md-4">
                    <h1>RailScanner</h1>
                </div>

                <div class="col-md-4">
                    <span>
                        <img style="display: inline-block; height: 40px; margin-top: 5px"
                             src="static/media/vuejs.png">
                    </span>
                </div>
            </div>
        </div>
    </nav>


    <div class="container">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
           
            <li role="presentation">
                <a href="#pane-three" aria-controls="three" role="tab" data-toggle="tab">Three</a>
            </li>
            <li role="presentation">
                <a href="#pane-four" aria-controls="three" role="tab" data-toggle="tab">Four</a>
            </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="margin-top: 10px">
           
            <div role="tabpanel" class="tab-pane" id="pane-three">
                <!-- demo root element -->
                <div id="demo">
                    <form id="search">
                        Search <input name="query" v-model="searchQuery">
                    </form>
                    <demo-grid :data="gridData" :columns="gridColumns" :filter-key="searchQuery">
                    </demo-grid>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="pane-four">
                <div id="app-four">
                    

                   <!-- demo root element -->
                
                    <form id="search">
                        Search <input name="query" v-model="searchQuery">
                    </form>
                    <demo-grid :data="gridData" :columns="gridColumns" :filter-key="searchQuery">
                    </demo-grid>
               
                </div>
            </div>

        </div>
    </div>
</body>


<!-- component template -->
<template id="grid-template">
    <table>
        <thead>
            <tr>
                <th v-for="key in columns" @click="sortBy(key)" :class="{ active: sortKey == key }">
                    {% raw %} {{ key | capitalize }} {% endraw %}
                    <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="entry in filteredData">
                <td v-for="key in columns">
                    {% raw %} {{entry[key]}} {% endraw %}
                </td>
            </tr>
        </tbody>
    </table>
</template>



<script src="static/node_modules/vue/dist/vue.link.js"></script>
<script src="static/node_modules/vue-resource/dist/vue-resource.min.js"></script>
<script src="static/js/app.js"></script>

</html>